<div class="mx-auto">
  <div class="join">
    <div>
      <div>
        <%= form.text_field :text, class: "input input-bordered join-item", placeholder: "How are you?" %>
      </div>
    </div>
    
    <%= form.select :question_type, 
      options_for_select(Question.question_types.keys.map { |type| [type.humanize, type] }, form.object.question_type ), {}, 
      class: "select select-bordered join-item" %>
  </div>

  <div class="flex w-2/3 flex-col mx-auto">
    <div class="divider">Answers</div>
  </div>

  <div class="card-body mt-4" data-controller="nested-form">
    <template data-nested-form-target="template">
      <%= form.fields_for :answers, Answer.new, child_index: 'NEW_RECORD' do |ff| %>
        <%= render "answers/form", form: ff %>
      <% end %>
    </template>

    <%= form.fields_for :answers do |ff| %>
      <%= render "answers/form", form: ff %>
    <% end %>


    <div data-nested-form-target="target"></div>
    <button type="button" data-action="nested-form#add">Add Answer</button>
  </div>
</div>
