<div class="card-body">
  <%= form_with(model: quiz) do |form| %>
      
    <label class="input input-bordered flex items-center gap-2" for=<%= :title %> >
      Title
      <%= form.text_field :title, class: "grow", placeholder: "My Quiz Title" %>
    </label>

    <label class="input input-bordered flex items-center gap-2 my-2" for=<%= :description %> >
      Description
      <%= form.text_field :description,  class: "grow", placeholder: "My Quiz Title" %>
    </label>

    <%= form.select :quiz_type, 
      options_for_select(Quiz.quiz_types.keys.map { |type, value| [type.humanize, value] }, @quiz.quiz_type_before_type_cast), {}, 
      class: "select select-bordered w-full max-w-xs" %>
      
    <div class="mt-4">
      <%= form.submit class: "btn btn-wide w-full"%>
    </div>
  <% end %>    
</div>