<p style="color: green"><%= notice %></p>

<% content_for :title, "Quizzes" %>

<h1>All Quizzes</h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to "Show this quiz", quiz %>
    </p>
    <% if current_user %>
      <% if current_user == quiz.user%>
        <p>
          <%= link_to "Edit this quiz", quiz %>
        </p>
      <% end %>
    <% end %>

  <% end %>
</div>

<%= link_to "New quiz", new_quiz_path %>
