<div class="card card-normal w-1/2 mx-auto shadow-xl">

  <h2 class="card-title mx-auto"><%= @quiz.title %></h2>
  <p class="mx-auto">Made by <em><%= @quiz.user.username ? @quiz.user.username : "Annonymous" %></em></p>
  
  <div class="card-body">

    <%= form_with model: @question, url: quiz_submit_path(@quiz), method: :post, local: true do |form| %>

      <% @questions.each do |question| %>
        <div class="card-body shadow-xl">
          <p>Question: <strong><%=question.text %></strong></p>
          <% question.answers.each do |answer|%>
            <div class="answers">
              <%= form.label "answers[#{question.id}][#{answer.id}]", answer.text %>
              <% if question.question_type == "multiple_choice" %>
                <%= form.check_box "answers[#{question.id}][#{answer.id}]" %>
              <% elsif question.question_type == "single_choice" %>
                <%= form.radio_button "answers[#{question.id}][#{answer.id}]", "1" %>
              <% else %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= form.submit%>
      
      </div>
    <% end %>
   
  </div>
</div>

